<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>

    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <main>
        <section id="top-section">
            <h2>Your listening activity</h2>
        </section>
        <div id="middle-section">
            <section id="recent-tracks">
                <h2>Recent Tracks</h2>
                <ul>
                    <% if (currentTrack) { %>
                        <li class="currently-listening">
                            <span class="track-name"><%= currentTrack.trackName %></span>
                            <span class="artist-name"><%= currentTrack.artists.map(a => a.artistName).join(', ') %></span>
                            <span>Currently listening</span>
                        </li>
                    <% } %>

                    <% recentTracks.forEach((t) => { %>
                        <li class="track-item" data-spotify-id="<%= t.spotifyId %>">
                            <div class="recent-left">
                                <div class="recent-left-top">
                                    <div class="tooltip">
                                        <button class="play-btn"><img src="/assets/icons/spotify-icon.png" alt=""></button>
                                        <span class="tooltiptext">Open in spotify</span>
                                    </div>

                                    <span class="track-name"><%= t.trackName %></span>
                                </div>
                                <div class="recent-left-bottom">
                                    <span class="artist-name"><%= t.artists.map(a => a.artistName).join(', ') %></span>
                                </div>
                            </div>
                            <div class="recent-right">
                                <img class="track-icon" src="<%= t.imageUrl %>" alt="img">
                                <%= Math.floor(t.durationMs / 60000) %>:<%= ((t.durationMs % 60000) / 1000).toFixed(0).padStart(2, '0') %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>
            <section id="stats-intro">
                Graphs and stuff...
            </section>
        </div>
    </main>
    <footer>
        feet
    </footer>
</body>
</html>
